body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

nav {
    background: #111827;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    color: #12b0a6;
}